button, div, form, input {
	margin: 5px;
}

button {
    background-color: blue;
}


img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color:blue;
    font-weight: 600;
}

.btn-default {
    color: #000;
    font-size: medium;
    background-color: blue;
}

body {
	background-image: url("mickey.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}